header {
  
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background: $gradientGreen;
  padding: 10px;

  & > * {
    display: inline-block;
    margin: auto 10px;
  }

  #logo {
    width: 60px;
    height: 60px;
    filter: $whiteFilter;
  }

  h1 {
    font-family: $cabin;
    text-transform: uppercase;
  }
}
