@mixin txtStyle {
    border: 1px solid $lightGray;
    font-family: $montserrat;
    height: 30px;
    width: 100%;
    padding: 20px;
    /* -left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px; */
    border-radius: 5px 0 0 5px;
    background: white;
    background: $gradientWhite;
    color: $darkGray;
    font-size: 13px;
}
@mixin txtStyleFocus{
    color: $darkGray;
    border-color: $green;
}