.showModal {
  display: flex;
  background-color: #0000005b;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  & > div {
    text-align: center;
    background-color: white;
    max-width: 80%;
    padding: 10px 10px;
    margin: auto;
    position: relative;
    bottom: 19%;

    .descriptionShort {
        margin-bottom: 15px;
        background-color: $blueMark;
    }

    .descriptionLarge {
      margin-bottom: 15px;
      background-color: $blueMark;
    }
  }
}

.hideModal {
  display: none;
}
