.showModal {
  display: flex;
  background-color: #0000005b;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  & > div {
    text-align: center;
    background-color: white;
    max-width: 80%;
    padding: 35px 35px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    bottom: 19%;

    .descriptionShort {
      margin: 15px 0;
      background-color: $blueMark;
    }

    .descriptionLarge {
      margin: 15px 0;
      background-color: $blueMark;
    }

    .titleModal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #8d12b3;
    }
  }
}

.hideModal {
  display: none;
}

.statusPending {
  color: $blue;
  font-weight: 700;
}

.statusFinished {
  color: $green;
  font-weight:700;
}
