#root {
  background-color: white;
  width: 70%;
  height: 90%;
  padding: 1%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 0 180px 0;
  font-family: $montserrat;

  .actionButton {
    filter: $whiteFilter;
    max-height: 80%;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  #inputNote,
  #inputEditNote {
    @include txtStyle;
    &:focus {
      outline: none;
      @include txtStyleFocus;
    }
  }
  #checkTask {
    transform: scale(1.5);
    margin-right: 5px;
  }

  #divFilter {
    text-align: right;
  }

  #addButton,
  #saveButton,
  #editButton,
  #detailButton,
  #deleteButton,
  .closeButton {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
  }

  #addButton {
    background-color: $green;
    border-radius: 0px 5px 5px 0;
  }

  #saveButton {
    background-color: $green;
    border-radius: 0px 5px 5px 0;
  }

  #editButton,
  #detailButton,
  #deleteButton,
  .closeButton {
    margin: 5px 3px;
    height: 30px;
    width: 30px;
  }

  .closeButton {
    background-color: $purple;
    margin-left: auto;
  }

  #editButton {
    background-color: $lightGreen;
  }
  #detailButton {
    background-color: $blueGreen;
  }
  #deleteButton {
    background-color: $red;
  }

  #tasksCounterLabel {
    margin: 20px 0 10px 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: $gray;
  }

  #selectFilter {
    margin: 0 10px;
    font-family: $montserrat;
    border: 1px solid $lightGray;
    height: 25px;
  }

  .singleTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    border: 1px solid $lightGray;
    padding: 0px 7px;

    & label {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
    }

    .tachado {
      text-decoration-line: line-through;
      color: $lightGray;
    }

    #buttonsTask {
      display: flex;
    }
  }
}
