/* Colors */
$gradientGreen: linear-gradient(to left, #00ff99, #33ccff);
$backgroundGrey: #edf0ee;
$gray: #777777;
$ligthGray: #dbe1eb;
$blackGray: #222222;
$green: #00ff99;

/* Filters */
$whiteFilter: brightness(0) invert(1);
