//Visible modal styles - container
.showModal {
  display: flex;
  overflow: hidden;
  background-color: $transparentBlack;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  transform: translateY(0px);
  transition: all 0.3s ease-out;
  & > div {
    //Visible modal styles - content
    background-color: white;
    max-width: 80%;
    padding: 35px 35px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    bottom: 19%;

    .descriptionLarge,
    .descriptionShort {
      margin: 15px 0;
      background-color: $blueMark;
    }

    .titleModal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $purple;
    }
    .statusPending {
      color: $blue;
      font-weight: 700;
    }

    .statusFinished {
      color: $green;
      font-weight: 700;
    }
    .textCreationDate,
    .textFinishedDate {
      font-weight: bold;
    }
  }
}

//Invisible modal styles - container
.hideModal {
  transform: translateY(-300vh);
  height: 0;
}
